/**
 * Would be cool to use tailwinds eventually,
 * definitely overkill for this tho.
 * Leaving these here for now.
 */
// @import "tailwindcss/preflight";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

$breakpoint-small: 768px;

body {
  background: linear-gradient(80deg, #3f87a6, #ebf8e1, #f69d3c);
  background-size: 600% 600%;

  animation: daylight 60s ease infinite;

  @keyframes daylight { 
    0%{background-position:0% 50%}
    40%{background-position:100% 51%}
    100%{background-position:0% 50%}
  }
  font-family: monospace;
  margin: 0;

  &.no-js .headline,
  &.no-js .work,
  &.no-js .contact {
    transform: translateX(0vw) translateY(0vh);
  }
}

h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

h1,h2 {
  margin-top: 1rem;
}

h2, h3, h4 {
  letter-spacing: 1px;
  border-bottom: 3px solid;
  margin: 0;
  padding: 1rem;
}

a, a:visited {
  color: #000;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  position: relative;

  .headline,
  .work,
  .this-page,
  .contact {
    box-sizing: border-box;
    padding: 2rem 1rem;

    section p {
      margin: 0;
      padding: 1rem;
    }

  }

  .headline {
    transform: translate(0vw, 100vh);
    transition: transform 400ms ease-out, border-color 250ms ease-out 450ms;
  }

  .work {
    transform: translate(0vw, 100vh);
    transition: transform 400ms ease-out 150ms, border-color 250ms ease-out 600ms;

    .company {
      border-right: 3px solid;
      .role {
        padding: 0 0 0 1rem;
      }
    }
  }

  // .this-page {
  //   transform: translate(0vw, 100vh);
  //   transition: transform 400ms ease-out 200ms, border-color 250ms ease-out 750ms;

  //   & > div {
  //     padding: 0 0 0 1rem;
  //   }
  // }

  .contact {
    transform: translate(0vw, 100vh);
    transition: transform 400ms ease-out 300ms, border-color 250ms ease-out 900ms;
  }

  &.fly-in {
    .headline,
    .work,
    .this-page,
    .contact {
      transform: translate(0vw, 0vh);
    }
    .offscreen {
      transform: translate(0vw, 0vh);
    }
  }

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    .headline,
    .work,
    .this-page,
    .contact {
      padding: 1rem;
    }

    .contact {
      margin: 0;
    }
  }

  .offscreen {
    position: fixed;
    top: 32%;
    right: 1rem;
    transform: translate(100vw, 0vh);
    transition: transform 400ms ease-out 300ms, border-color 250ms ease-out 900ms;

    @media (min-width: 375px) {
      top: 25%;
    }

    @media (min-width: 414px) {
      top: 28%;
    }

    .more-wrap {
      // display: none;
      // height: 0;
      opacity: 0;
      text-align: center;

      &.active {
        // display: block;
        opacity: 1;
      }

      ul {
        padding: 0 1rem;
        list-style: none;
      }
    }

    .open {
      color: black;
      display: block;
      overflow: hidden;
      font-size: 1.5rem;
      border: 3px solid;
      padding: 0.5rem 1.75rem;
      margin: 0 0 0 auto;
      background-color: antiquewhite;
      transition: all 250ms ease-out;
      text-align: right;

      &:hover {
        color: white;
        border-color: black;
        background: black;
      }
    }

    &.min {
      // .more-wrap {
      //  
      // }

      .open {
        padding: 0;
        width: 14px;
      }
    }
  }
}
