$breakpoint-small: 768px;

html {
  font-size: 16px;
}

body {
  background: linear-gradient(80deg, #3f87a6, #ebf8e1, #f69d3c);
  background-size: 600% 600%;

  animation: daylight 60s ease infinite;

  @keyframes daylight { 
    0%{background-position:0% 50%}
    40%{background-position:100% 51%}
    100%{background-position:0% 50%}
  }
  font-family: monospace;
  margin: 0;

  &.no-js .headline,
  &.no-js .work,
  &.no-js .contact {
    transform: translateX(0vw) translateY(0vh);
  }

  @media (min-width: $breakpoint-small) {
    background: linear-gradient(80deg, #3f87a6, #ebf8e1, #3f87a6);
    background-size: 600% 600%;
  }
}

h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

h1,h2 {
  margin-top: 1rem;
}

h2, h3, h4 {
  letter-spacing: 1px;
  margin: 0;
  padding: 1rem;
}

a, a:visited {
  color: #000;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;

  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  position: relative;

  .headline,
  .work,
  .this-page,
  .contact {
    box-sizing: border-box;
    padding: 2rem 1rem;

    section p {
      margin: 0;
      padding: 1rem;
    }

  }

  .headline {
    position: relative;

    .portrait {
      position: absolute;
      right: -10%;
      bottom: -35%;
      border-radius: 50%;
      max-width: 45%;

      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }
  }

  .work {
    .company {
      transition: all 400ms ease-out;
      .role {
        padding: 0 0 0 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-small) {
    grid-template-columns: repeat(3, 1fr);

    padding: 2rem;

    .headline,
    .work,
    .this-page,
    .contact {
      padding: 1rem;
      // background-color: #82c1db;
      background: linear-gradient(80deg, #3f87a6, #ebf8e1);
      background-size: 600% 600%;

      animation: daylight 60s ease infinite;
    }

    .headline {
      grid-column: 1;
      grid-row: 1;
    }

    .work {
      grid-column: 2 / 4;
      grid-row: 1 / 4;
    }

    .contact {
      margin: 0;

      grid-column: 1;
      grid-row: 2;
    }
  }
}
